/.DS_Store
/build
/gitpytest
/gitpytest/*
/repo
.idea
*__pycache__*
*.log
*.env
*.egg-info
/config*.json
/sources.json
/test.py
/test*.py
/*_test.py
/distprd
*.rpm
*.zip
/venv/
*/plugin_data
*/venv/
*/dist
.pytest_cache
/*/node_modules/
/log/
/runtime/
config.ini
config.*.ini
/data
*.xlsx
*.csv
/dist
/logs
/run.sh